<%inherit file="/base.html"/>

<%block name="content">

    <div class="home-page" id="app">
        <i-button type="primary" @click="show()">模态窗</i-button>
            <Modal
        v-model="modal1"
        title="Common Modal dialog box title"
        @on-ok="ok"
        @on-cancel="cancel">
        <p>Content of dialog</p>
        <p>Content of dialog</p>
        <p>Content of dialog</p>
    </Modal>

    </div>
</%block>
<script>
     new Vue({
      el: '#app',
      data: function () {
        return {
          modal1:false
        }
      },
         methods: {
          show(){
              this.modal1  =  true
          },
             ok(){},
             cancel(){}
         }
    })
</script>
<style>
    .charts-wrapper{

    }
    .charts-wrapper{
        width: 50%;
        float:left;
        border:1px solid #ddd;
    }
</style>


